doctype html
html(lang="en")
	head
		title HN Discourse
		script(data-main='js/boot', type='text/javascript', src='/js/lib/require.js')
		script(data-main='js/boot', type='text/javascript', src='/js/lib/underscore.js')
		script(data-main='js/boot', type='text/javascript', src='/js/lib/text.js')
		script(data-main='js/boot', type='text/javascript', src='/js/lib/backbone.js')
		script(data-main='js/boot', type='text/javascript', src='/js/lib/jquery-2.1.4.js')
	body
		div#content